*.iml
.idea/
.classpath
.project
.settings/
.meta-data/
.java-version
.DS_Store
bin/

# Maven
target/
pom.xml.versionsBackup

# Gradle
.gradle/
.groovylintrc.json
build/

# camunda-modeler-plugin
.nyc_output/
camunda-modeler-plugin/coverage/
bpmn-driven-testing-plugin.zip
dist/
node_modules/
